body, html {
    height: 100%; /* 전체 높이를 화면에 맞춤 */
    margin: 0; /* 기본 마진 제거 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    background-color: #acd8e6;
}
.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 주 축에 따라 중앙 정렬 */
    width: 600px;
    height:600px;
    
    border-radius: 15px;

    background-color: #dff0f5;
}
.divider {
    width: 50%;
    height: 1px;
    background-color: white;
    margin-bottom: 15px;
}
.form-container{
    align-items: center;
}
.form-field {
    display: flex;
    flex-direction: column; /* 요소들을 수직으로 쌓음 */
    align-items: flex-start; /* 텍스트와 입력창을 왼쪽으로 정렬 */
    margin: 5px 0;
}
.form-field label{
    margin-top: 10pt;
}
.error-message{
    display:none;
    color:red
}
.form-field input:not([type="submit"]) {
    width:100%;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    border:1px solid white;
    background-color: transparent; /* 입력 필드 배경색 투명 설정 */
}
.btn {
    width: 100%;
    height: 10%;
    font-size: 15px;
    color : white;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    background-color: #808080;
    margin: 10px;
}